@model IEnumerable<ThAmCo.Events.Models.StaffBookingViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstAider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstAider)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Title)
                </td>
                <td>
                    <div class="btn-group">
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Manage
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Staffs" asp-action="Details" asp-route-id="@item.StaffId">Details</a></li>
                            <li><a asp-controller="StaffBookings" asp-action="Delete" asp-route-staffid="@item.StaffId" asp-route-eventid="@item.EventId">Remove Staff</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>